<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              <rule name="ignore web" stopProcessing="true">
                <match url="^web/(.*)" />
                <action type="None" />
              </rule>
              <rule name="ignore img" stopProcessing="true">
                <match url="^js/(.*)" />
                <action type="None" />
              </rule>
              <rule name="ignore js" stopProcessing="true">
                <match url="^img/(.*)" />
                <action type="None" />
              </rule>
              <rule name="test" stopProcessing="true">
                <match url="^api/(.*)" />
                <!--<action type="Redirect" url="api.php/{R:1}" appendQueryString="true" redirectType="Temporary" />-->
                <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
              </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>